
.work-sans{
  font-family: Work Sans, serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin-top: 130px;
}
.section-title{
    font-size: 2.8rem;
}
.dark-2{
    color: #424242;
}
.dark-1{
    color: gray;
}
.text-primary{
    color: #FF900E;
}
.display-flex{
    display: flex;
}
.bg-color{
    background-color:rgba(255, 144, 14, 0.1);
}
.nav-bar{
    justify-content: space-around;
}
.nav-item{
    list-style: none; 
    margin-right: 30px;
} 
.nav{
    text-decoration: none;
    font-weight: 500;
}
.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.banner{
    padding-bottom: 20px;
}
.banner-content{
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: center;
}
.btn{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 1.25rem;
    border: none;
}
.banner img{
    /* margin: 0 auto;
    height:600px;
    width:1200px; */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.banner-img{
    width: 80%;
} 
.teams{
    align-items: center;
    margin: 0 auto;
    width: 80%;
    margin-top: 100px;
    margin-bottom: 40px;
    
}
.team-img-container{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     gap:24px;
}
.features{
    margin-left:130px;
    max-width: 530px;
    text-align: center;
}

#quick{
    font-weight: 500;
}
.fact-container{
   display: grid; 
   grid-template-columns: repeat(4,1fr);
}
.fact{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-des{
    max-width: 540px;
}
@media screen and (max-width:576px){
    .navbar,.nav-links,.teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .features{
        margin-left: 20px;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .features{
        margin: 50px auto;
    }
}